<h1>PRODUCTOS</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td><img [src]="product.image" [alt]="product.name" srcset=""></td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
        </tr>
        <tr>
            <td>Reproductiva</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Minerales</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>