<h1>PRODUCTOS</h1>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'oferta': product.oferta}">
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td><img [src]="product.image" [alt]="product.name" class="img-fluid"></td>
            <td>{{product.price | currency}}</td>
            <td><span *ngIf="product.stock==0" class="badge bg-danger">SIN STOCK</span><span *ngIf="product.stock>0 " class="badge bg-success">HAY STOCK</span></td>
            <td>
                <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" (maxReached)="maxReached($event)" *ngIf="product.stock"></app-input-integer>
                <button *ngIf="product.quantity>0" type="button" class="btn btn-outline-primary" (click)="addToCart(product)">Agregar al Carrito</button>
            </td>
            <!-- [product]="product"->lo vinculo c el hijo q lo recibe en el @input como un parametro-->
        </tr>

    </tbody>
</table>