h1 {
    color: blue;
}

.img-fluid {
    max-width: 30%;
    height: auto;
}

.oferta {
    border: 2px solid black;
    background-color: yellow;
}

td {
    vertical-align: middle;
}

input {
    max-width: 40px;
    text-align: center;
}