<div class="container">
    <div class="row">
        <h1>Quienes somos</h1>
    </div>
    <div class="row">
        <h3>Nicole Pérez | Veterinaria</h3>
        <p>
            Socia fundadora de la Clínica Veterinaria Ibican. Lda en veterinaria por la Universidad Cardenal Herrera de Valencia en el 2003. Miembro del Royal College of Veterinary Surgeons. Ha trabajado en el Hospital Veterinario Calandrí en Palma de Mallorca y
            en Archway Veterinary Practice, clínica veterinaria situada en Petersfield, Reino Unido. Nicole ha desarrollado un especial interés en la endocrinología, la neurología, la oftalmología y la cirugía de tejidos blandos sobre los cuales ha participado
            en numerosos cursos.
        </p>
    </div>
    <div class="row">
        <h3> David Digne | Veterinario</h3>
        <p>
            Ya de bien pequeño tenia claro que su gran pasión era ayudar a los animales y así en 1998 accedió a la carrera de veterinaria en la Universidad Cardenal Herrera de Valencia. Tras licenciarse en el 2003, dedicó los 3 años siguientes a trabajar en los servicios
            de urgencias de algunas de las clínicas veterinarias más prestigiosas de Palma de Mallorca (Clínica Veterinária Canis, Clínica Veterinaria San Fernando y Clínica Veterinaria Balmes). A esto le siguieron 2 años trabajando en el Reino Unido
            (Companion Care Portsmouth) donde tuvo la oportunidad de adquirir una amplia experiencia en cirugía. Desde finales del 2008 David es copropietario de la Clínica Veterinaria Ibican. David tiene un especial interés en cardiología, dermatología
            y medicina y cirugía de conejos y roedores y ha realizado numerosos cursos en estos y otros campos tanto a nivel nacional como internacional (Royal Veterinary college en londres, ESAVS en Zurich, entre otros).
        </p>
    </div>
</div>